html
    head
        title #{title}
        link(rel="stylesheet" href="/css/meyerweb_reset.css")
        link(rel="stylesheet" href="/css/category.css")
    body
        header
            h1 #{title}
        main
            h2 #{name} In Stock
            ul(class="inventory-items")
                each val, key in inventoryItems
                    li
                        a(href=`/catalog/inventoryitem/${val.inventoryItemId}`)
                            div(class="product-name") #{val.productName}
                            div(class="inventory-item-id") #{val.inventoryItemId}
                            div(class="price") #{val.formattedPrice}
                li
                    a(href=`/catalog/category/${name.toLowerCase()}/createInventoryItem/`)
                        span Create New Inventory Item
            a(class="delete-button" href=`/catalog/delete/category/${name.toLowerCase()}`)
                span Delete #{name} Category
