html
    head
        title #{title}
        link(rel="stylesheet" href="/css/meyerweb_reset.css")
        link(rel="stylesheet" href="/css/inventoryItem.css")
    body
        header
            h1 #{title}
        main
            h2 #{inventoryItem.inventoryItemId}
            div(class="info-area")
                span(class="name") #{product.name}
                span(class="price") #{formattedPrice}
                span(class="description") #{product.description}
            div(class="control-buttons")
                a(class="edit" href=`/catalog/inventoryitem/${inventoryItem.inventoryItemId}/edit`)
                    span Edit
                a(class="delete" href=`/catalog/delete/inventoryItem/${category.name}/${inventoryItem.inventoryItemId}`)
                    span Delete


